.headerBar {
  height: 10%;
  display: flex;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.headerImageContainer {
  width: 40%;
  align-items: right;
  display: flex;
}

.headerImage {
  width: 50%;
  display: flex;
  align-items: right;
}

.loginButton {
  background-color: aliceblue;
  border: 0px;
  width: 20%;
  font-size: large;
}
